<button class="btn btn-default" routerLink="posts">Posts</button>

<div class="container mt-5">

  <div class="row">
    <div class="col-md-6">
      <input type="number" [(ngModel)]="numb" />

      <hr />
      <button class="btn btn-light" (click)="addNumber()" [disabled]="!numb">Add</button> |

      <button class="btn btn-success" (click)="increateCounter()">
        Increase
      </button>
      |
      <button class="btn btn-primary" (click)="decreateCounter()">
        Decrease
      </button>
      |
      <button class="btn btn-danger" (click)="reset()">Reset</button>
      <br />
      <hr />
      <hr />
      counter: {{ (counter$ | async) }}
    </div>
  </div>
</div>
